.version.equipos /* version checker */
{
	color: #0000F1;
	background-color: #8E6466;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 430px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 8px 20px 62px;
}

#menuu824
{
	z-index: 2;
	width: 920px;
	position: relative;
}

#u846
{
	width: 129px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
}

#u849
{
	width: 129px;
	padding-bottom: 37px;
	position: relative;
}

#u849:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u849:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u825
{
	width: 129px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u826
{
	width: 129px;
	padding-bottom: 37px;
	position: relative;
}

#u849.MuseMenuActive,#u826:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u826:active
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u826.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u850,#u828
{
	height: 17px;
	width: 129px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#u873
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u874
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u874:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u874:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u866
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u867
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u874.MuseMenuActive,#u867:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u867:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u8939
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u8942
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u867.MuseMenuActive,#u8942:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u8942:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u832
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 658px;
}

#u835
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u8942.MuseMenuActive,#u835:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u835:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u839
{
	width: 130px;
	min-height: 54px;
	position: relative;
	margin-right: -10000px;
	left: 790px;
}

#u842
{
	width: 130px;
	padding-bottom: 37px;
	position: relative;
}

#u835.MuseMenuActive,#u842:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u842:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u842.MuseMenuActive
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u877,#u869,#u8945,#u838,#u845
{
	height: 17px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	top: 18px;
}

#pu1339
{
	width: 0.01px;
}

#u1339
{
	z-index: 38;
	width: 920px;
	position: relative;
	margin-right: -10000px;
}

#u890
{
	z-index: 40;
	width: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 446px;
}

#u890_img
{
	padding-bottom: 1px;
}

#u8989
{
	z-index: 42;
	width: 786px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.71);
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 42px;
	padding: 20px 33px 68px 15px;
	-pie-background: rgba(255,255,255,0.71);
}

#u8995-8
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
}

#u9004
{
	z-index: 135;
	width: 599px;
	background-color: transparent;
	margin-left: 82px;
	margin-top: 19px;
	position: relative;
}

#pu9001-42
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: 48px;
}

#u9001-42
{
	z-index: 93;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u8998-42
{
	z-index: 51;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u9089
{
	z-index: 145;
	width: 351px;
	height: 186px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 2000px;
	min-width: 300px;
	margin-left: 57px;
	margin-top: 68px;
	position: relative;
}

#u9014-4
{
	z-index: 137;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 32px;
}

#u9017-4
{
	z-index: 141;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 491px;
}

.html
{
	background: #7F7F7F url("../images/2012-nba-playoffs-stars-1920x1080-wallpaper-basketwallpaperscom-.jpg") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

