#menuu824
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(127,127,127,0.72)),color-stop(100%, rgba(255,255,255,0.72)));
	background: -webkit-linear-gradient(left,rgba(127,127,127,0.72) ,rgba(255,255,255,0.72) 100%);
	background: linear-gradient(to right,rgba(127,127,127,0.72) ,rgba(255,255,255,0.72) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B77F7F7F, endColorstr=#B7FFFFFF, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B77F7F7F', endColorstr='#B7FFFFFF', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
}

#u849
{
	background-color: #C4C4C4;
}

#u849:hover
{
	background-color: #44AC92;
	background-color: rgba(68,172,146,1);
	-pie-background: rgba(68,172,146,1);
}

#u849:active
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u849.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.12);
	-pie-background: rgba(255,255,255,0.12);
}

#u850
{
	vertical-align: top;
	background: transparent url("../images/u850.png") no-repeat 0px 0px;
}

#u849.MuseMenuActive #u850
{
	background: transparent url("../images/u850-a.png") no-repeat 0px 0px;
}

#u826
{
	background-color: #C4C4C4;
}

#u826:hover
{
	background-color: #44AC92;
	background-color: rgba(68,172,146,1);
	-pie-background: rgba(68,172,146,1);
}

#u826:active
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u826.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.12);
	-pie-background: rgba(255,255,255,0.12);
}

#u828
{
	vertical-align: top;
	background: transparent url("../images/u828.png") no-repeat 0px 0px;
}

#u826.MuseMenuActive #u828
{
	background: transparent url("../images/u828-a.png") no-repeat 0px 0px;
}

#u874
{
	background-color: #C4C4C4;
}

#u874:hover
{
	background-color: #44AC92;
	background-color: rgba(68,172,146,1);
	-pie-background: rgba(68,172,146,1);
}

#u874:active
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u874.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.12);
	-pie-background: rgba(255,255,255,0.12);
}

#u877
{
	vertical-align: top;
	background: transparent url("../images/u877.png") no-repeat 0px 0px;
}

#u874.MuseMenuActive #u877
{
	background: transparent url("../images/u877-a.png") no-repeat 0px 0px;
}

#u867
{
	background-color: #C4C4C4;
}

#u867:hover
{
	background-color: #44AC92;
	background-color: rgba(68,172,146,1);
	-pie-background: rgba(68,172,146,1);
}

#u867:active
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u867.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.12);
	-pie-background: rgba(255,255,255,0.12);
}

#u869
{
	vertical-align: top;
	background: transparent url("../images/u869.png") no-repeat 0px 0px;
}

#u867.MuseMenuActive #u869
{
	background: transparent url("../images/u869-a.png") no-repeat 0px 0px;
}

#u8942
{
	background-color: #C4C4C4;
}

#u8942:hover
{
	background-color: #44AC92;
	background-color: rgba(68,172,146,1);
	-pie-background: rgba(68,172,146,1);
}

#u8942:active
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u8942.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.12);
	-pie-background: rgba(255,255,255,0.12);
}

#u8945
{
	vertical-align: top;
	background: transparent url("../images/u8945.png") no-repeat 0px 0px;
}

#u8942.MuseMenuActive #u8945
{
	background: transparent url("../images/u8945-a.png") no-repeat 0px 0px;
}

#u835
{
	background-color: #C4C4C4;
}

#u835:hover
{
	background-color: #44AC92;
	background-color: rgba(68,172,146,1);
	-pie-background: rgba(68,172,146,1);
}

#u835:active
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u835.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.12);
	-pie-background: rgba(255,255,255,0.12);
}

#u838
{
	vertical-align: top;
	background: transparent url("../images/u838.png") no-repeat 0px 0px;
}

#u835.MuseMenuActive #u838
{
	background: transparent url("../images/u838-a.png") no-repeat 0px 0px;
}

#u842
{
	background-color: #C4C4C4;
}

#u842:hover
{
	background-color: #44AC92;
	background-color: rgba(68,172,146,1);
	-pie-background: rgba(68,172,146,1);
}

#u842:active
{
	background-color: #7F7F7F;
	background-color: rgba(127,127,127,1);
	-pie-background: rgba(127,127,127,1);
}

#u842.MuseMenuActive
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.12);
	-pie-background: rgba(255,255,255,0.12);
}

#u845
{
	vertical-align: top;
	background: transparent url("../images/u845.png") no-repeat 0px 0px;
}

#u842.MuseMenuActive #u845
{
	background: transparent url("../images/u845-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u846,#u825,#u873,#u866,#u8939,#u832,#u839,#u1339,#u890
{
	background-color: transparent;
}


